# User-specific files
*.pro.user
*.pro.user.*

# Build files
Makefile
Makefile.*
.qmake.stash
build/
*.o
*.obj
*.exe
*.dll
*.so
*.dylib

# Qt Creator
*.autosave
*.creator
*.creator.user
*.qmljs*
*.qmlproject
*.workspace

# OS
.DS_Store
Thumbs.db


img/help.gif